[
  {ems, [
  	{pool,{10,mysql,start_link,[
			{
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ]
			},
			
			{
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ]
			},
			
			{
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ]
			},
			
			{
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}],
			    [{host, "127.0.0.1"}, {user, "root"},{password, "root"}, {database, "test"},{keep_alive,true}]
			  ]
			}
		]}}
	
	]}
].
